html {
  background-color: #f2f2f2;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Averia Serif Libre', sans-serif;
}

body {
   margin:0;
   padding:0;
   height:100%;
   font-size: 0.8em;
}

h1 {
  font-size: 2.0em;
  font-weight: 700;
  text-align: center;
  text-transform:uppercase;
  text-decoration: underline;
  font-family: 'Averia Serif Libre', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  text-transform:uppercase;
  background: #f4ed74;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform:uppercase;
  color: #ed1c24;
}

p {
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #3C7599;
}

a:hover {
  color: #89C8F0;
}

#logo {
 margin-top: 75px;
 background:#f2f2f2;
 background-image:url('logo.jpg');
 background-repeat:no-repeat;
 background-position:attachment;
 background-position:center; 
 height: auto;
 width: 100%'
 z-index: 5;
}

#nav {
  clear: both;
  background: #231f20;
  position: fixed;
  top: 0px;
  height:auto;
  min-height: 50px;
  min-width: 100%;
  z-index: 10;
  color: #FFFFFF;
  font-size: 1.2em;
}

#nav li{
  display:inline;
  padding:0;
  margin:0;
}

#nav a:link,
#nav a:visited {
  color:#FFFFFF;
  text-decoration: none;
  text-transform:uppercase;
  font-weight: 200;
  padding:20px 40px 4px 10px;
  width:100%;
}

#content {
  position: absolute;
  top:230px;
  left:350px;
  width: 510px;
}

.contentbox {
 background: rgba(255,255,255,0.5);
  padding: 10px;
  border-radius: 3px;
  width: 510px;
  margin-bottom: 25px;
  border-style:solid;
  border-color:#000000 #343434;
  border-width:3px;
}

#sidecolumn-left {
  padding: 20px;
  border-radius: 3px;
  position: absolute;
  top: 250px;
  left:5px;
  width: 280px;
}

#sidecolumn-right {
  padding: 20px;
  border-radius: 3px;
  position: absolute;
  top: 250px;
  left:915px;
  width: 300px;
}

.sidecolumnbox {
 background: rgba(255,255,255,0.5);
  padding: 15px;
  width: 250px;
  margin-bottom: 10px;
  border-style:solid;
  border-color:#000000;
  border-width:2px;
}

#footer {
 background: #231f20;
  color: #FFFFFF;
 clear: both;
 position: fixed;
 bottom: 0px;
 height: 3em;
 min-width: 100%;
 z-index: 10;
}

#wrapper {
  height:auto;
  min-height: 100%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}